@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 134 13.1% 44.1%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;

    --b0: 210 9.7% 11%; /* #191C1F */
    --b1: 210 5.5% 24.7%; /* #3B3D40 */
    --b2: 210 3.5% 36.9%; /* #595C5E */
    --b3: 210 3.1% 43.3%; /* #6E7072 */
    --b4: 210 2.7% 48.8%; /* #7C7E7F */
    --b5: 210 2.1% 54.7%; /* #8A8B8D */
    --b6: 210 1.9% 61.4%; /* #9C9D9F */
    --b7: 210 1.6% 69.8%; /* #B3B4B5 */
    --b8: 210 0.9% 82.5%; /* #D3D4D4 */
    --b9: 0 0% 93.1%; /* #EDEDED */
    --b01: 120 11.1% 6.3%; /* #0C110C */

    --a02: 120 8.2% 20.2%; /* #2D342D */
    --a01: 120 7.6% 27.3%; /* #424C42 */
    --a0: 120 8.1% 42%; /* #687968 */
    --a1: 120 7.5% 52%; /* #808E80 */
    --a2: 120 6.7% 59.6%; /* #929F92 */
    --a3: 120 6.1% 65.7%; /* #A0ABA0 */
    --a4: 120 5.5% 69.8%; /* #A9B3A9 */
    --a5: 120 5% 74.1%; /* #B2BBB2 */
    --a6: 120 4.3% 80%; /* #BEC5BE */
    --a7: 120 3.8% 85.3%; /* #CDD3CD */
    --a8: 120 2.7% 90.2%; /* #E2E6E2 */
    --a9: 120 1.7% 94.7%; /* #F0F2F0 */
    --a14: 120 8.1% 42% / 14%; /* #68796824 */

    --e0: 0 100% 64.7%; /* #FF4141 */
    --e1: 0 100% 90.2%; /* #FFD2D2 */

    --s0: 132 100% 40.2%; /* #00CD35 */
    --s1: 90 78.5% 75.7%; /* #ADF28F */

    --w0: 0 0% 100%; /* #FFFFFF */

    --c03: 46 44.9% 83.7%; /* #E8DFBE */
    --c02: 44 4.1% 38.2%; /* #66655E */
    --c01: 44 8.4% 57.1%; /* #969389 */
    --c0: 46 45.8% 91.2%; /* #EEEADA */
    --c1: 46 43.1% 94.1%; /* #F1EDE0 */
    --c2: 46 40% 95.7%; /* #F3F0E4 */
    --c3: 46 36.3% 96.9%; /* #F4F2E8 */
    --c4: 46 34% 97.6%; /* #F5F3EA */
    --c5: 46 31.6% 98.2%; /* #F6F4EC */
    --c6: 46 27.3% 98.8%; /* #F8F6EF */
    --c7: 46 23.7% 99.2%; /* #F9F8F3 */
    --c8: 46 12% 99.6%; /* #FCFBF8 */

    --d0: 43 100% 65.9%; /* #FFCF54 */
    --d1: 48 100% 90.8%; /* #FFF1CC */
    --d2: 44 100% 80%; /* #FFE298 */

    --tDefault: 210 9.7% 11%; /* #191C1F */
    --tPlaceholder: 210 2.7% 48.8%; /* #7C7E7F */
    --absoluteBlack: 0 0% 0%; /* #000000 */
    --extraBlue: 196 49.2% 43.5%; /* #397E9B */
    --greyDefault: 240 7.1% 96.5%; /* #F5F5F7 */
    --blue: 210 100% 31%; /* #0053a0 */

    --tPlaceholder: 200 3.3% 49.2%; /* #7C7E7F */
    --hover: 210, 5%, 89%; /*#E3E4E5*/
    --main-background: 240, 6.7%, 98%; /*#FAFAFB*/

    --sidebar-background: 0 0% 100%; /*#FFFFFF*/
    --sidebar-foreground: 240 5.3% 26.1%; /*#464649*/
    --sidebar-primary: 240 5.9% 10%; /*#171718*/
    --sidebar-primary-foreground: 0 0% 98%; /*#FAFAFA*/
    --sidebar-accent: 210, 5%, 89%; /*#DADADB*/
    --sidebar-accent-foreground: 240 5.9% 10%; /*#171718*/
    --sidebar-border: 220 13% 91%; /*#FAFAFB*/
    --sidebar-ring: 217.2 91.2% 59.8%; /*#FAFAFB*/

    --app-height: 100vh;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --b0: 210 9.7% 11%; /* #191C1F */
    --b1: 210 5.5% 24.7%; /* #3B3D40 */
    --b2: 210 3.5% 36.9%; /* #595C5E */
    --b3: 210 3.1% 43.3%; /* #6E7072 */
    --b4: 210 2.7% 48.8%; /* #7C7E7F */
    --b5: 210 2.1% 54.7%; /* #8A8B8D */
    --b6: 210 1.9% 61.4%; /* #9C9D9F */
    --b7: 210 1.6% 69.8%; /* #B3B4B5 */
    --b8: 210 0.9% 82.5%; /* #D3D4D4 */
    --b9: 0 0% 93.1%; /* #EDEDED */
    --b01: 120 11.1% 6.3%; /* #0C110C */

    --a02: 120 8.2% 20.2%; /* #2D342D */
    --a01: 120 7.6% 27.3%; /* #424C42 */
    --a0: 120 8.1% 42%; /* #687968 */
    --a1: 120 7.5% 52%; /* #808E80 */
    --a2: 120 6.7% 59.6%; /* #929F92 */
    --a3: 120 6.1% 65.7%; /* #A0ABA0 */
    --a4: 120 5.5% 69.8%; /* #A9B3A9 */
    --a5: 120 5% 74.1%; /* #B2BBB2 */
    --a6: 120 4.3% 80%; /* #BEC5BE */
    --a7: 120 3.8% 85.3%; /* #CDD3CD */
    --a8: 120 2.7% 90.2%; /* #E2E6E2 */
    --a9: 120 1.7% 94.7%; /* #F0F2F0 */
    --a14: 120 8.1% 42% / 14%; /* #68796824 */

    --e0: 0 100% 64.7%; /* #FF4141 */
    --e1: 0 100% 90.2%; /* #FFD2D2 */

    --s0: 132 100% 40.2%; /* #00CD35 */
    --s1: 90 78.5% 75.7%; /* #ADF28F */

    --w0: 0 0% 100%; /* #FFFFFF */

    --c03: 46 44.9% 83.7%; /* #E8DFBE */
    --c02: 44 4.1% 38.2%; /* #66655E */
    --c01: 44 8.4% 57.1%; /* #969389 */
    --c0: 46 45.8% 91.2%; /* #EEEADA */
    --c1: 46 43.1% 94.1%; /* #F1EDE0 */
    --c2: 46 40% 95.7%; /* #F3F0E4 */
    --c3: 46 36.3% 96.9%; /* #F4F2E8 */
    --c4: 46 34% 97.6%; /* #F5F3EA */
    --c5: 46 31.6% 98.2%; /* #F6F4EC */
    --c6: 46 27.3% 98.8%; /* #F8F6EF */
    --c7: 46 23.7% 99.2%; /* #F9F8F3 */
    --c8: 46 12% 99.6%; /* #FCFBF8 */

    --d0: 43 100% 65.9%; /* #FFCF54 */
    --d1: 48 100% 90.8%; /* #FFF1CC */
    --d2: 44 100% 80%; /* #FFE298 */

    --tDefault: 210 9.7% 11%; /* #191C1F */
    --tPlaceholder: 210 2.7% 48.8%; /* #7C7E7F */
    --absoluteBlack: 0 0% 0%; /* #000000 */
    --extraBlue: 196 49.2% 43.5%; /* #397E9B */
    --greyDefault: 240 7.1% 96.5%; /* #F5F5F7 */
    --blue: 210 100% 31%; /* #0053a0 */

    --tPlaceholder: 200 3.3% 49.2%; /* #7C7E7F */
    --hover: 210, 5%, 89%; /*#E3E4E5*/
    --main-background: 240, 6.7%, 98%; /*#FAFAFB*/

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .filter-cleared {
    filter: brightness(0) saturate(100%) invert(41%) sepia(12%) saturate(145%)
      hue-rotate(63deg) brightness(90%) contrast(80%);
  }

  .filter-flagged {
    filter: brightness(0) saturate(100%) invert(67%) sepia(27%) saturate(532%)
      hue-rotate(35deg) brightness(96%) contrast(90%);
  }

  .filter-scratched {
    filter: brightness(0) saturate(100%) invert(51%) sepia(74%) saturate(1455%)
      hue-rotate(340deg) brightness(95%) contrast(85%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .data-table-wrapper table {
    @apply w-full table-fixed;
  }
  .data-table-wrapper thead {
    @apply sticky top-0 z-10 bg-white;
  }
  .data-table-wrapper th,
  .data-table-wrapper td {
    @apply p-0 box-border max-w-full;
  }
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
